<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]PRIMO MÓVEIS</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <link rel="shortcut icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/css/app.css">
</head>

<body>

    @RenderBody()

    <script src="~/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script src="~/assets/js/main.js"></script>
</body>

</html>
