@model UsuarioModel

@if (Model.Perfil == SistemaOrcamentario.Enums.PerfilEnum.Administrador)
{
    <li class="sidebar-item  has-sub">

        <a href="#" class='sidebar-link'>
            <i data-feather="user" width="20"></i>
            <span>Usuários</span>
        </a>

        <ul class="submenu ">
            <li>
                <a asp-controller="Usuario" asp-action="Create">Novo usuário</a>
            </li>

            <li>
                <a asp-controller="Usuario" asp-action="Index">Lista de usuários</a>
            </li>
        </ul>

    </li>

    <li class="sidebar-item  has-sub">

        <a href="#" class='sidebar-link'>
            <i class="bi bi-file-text" width="20"></i>
            <span>Orçamentos</span>
        </a>


        <ul class="submenu ">

            <li>
                <a asp-controller="Orcamento" asp-action="Create">Novo orçamento</a>
            </li>

            <li>
                <a asp-controller="Orcamento" asp-action="Index">Lista de orçamentos</a>
            </li>

        </ul>

    </li>
}