@using SistemaOrcamentario.Enums;
@model SistemaOrcamentario.Models.UsuarioModel

@{
    ViewData["Title"] = "Editar Usuário";
}
<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Cadastro de Usuários</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="Delete" class="form form-vertical">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Perfil</label>
                                            <div class="position-relative">
                                                <fieldset class="form-group">
                                                    <select readonly asp-for="UsuPerfil" class="form-select" id="basicSelect">
                                                        <option value="">Selecione</option>
                                                        <option value="@PerfilEnum.Administrador">Administrador</option>
                                                        <option value="@PerfilEnum.Consultor">Consultor</option>
                                                        <option value="@PerfilEnum.Padrão">Padrão</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Nome</label>
                                            <div class="position-relative">
                                                <input asp-for="UsuNome" type="text" readonly class="form-control" placeholder="Nome" id="first-name-icon">
                                                <div class="form-control-icon">
                                                    <i data-feather="user"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Login</label>
                                            <div class="position-relative">
                                                <input asp-for="UsuLogin" type="text" readonly class="form-control" placeholder="Login de usuário" id="first-name-icon">
                                                <div class="form-control-icon">
                                                    <i data-feather="user"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-5">
                                        <div class="form-group has-icon-left">
                                            <label for="email-id-icon">Email</label>
                                            <div class="position-relative">
                                                <input asp-for="UsuEmail" type="text" readonly class="form-control" placeholder="Email" id="email-id-icon">
                                                <div class="form-control-icon">
                                                    <i data-feather="mail"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-danger me-1 mb-1">Deletar usuário</button>
                                        <button asp-controller="Usuario" asp-action="Index" class="btn btn-primary me-1 mb-1">Voltar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>